<div class="senses-container">
  <div class="vision-field">
    <label>VISION</label>
    <input type="text" [(ngModel)]="vision" placeholder="e.g. Darkvision 60 ft.">
  </div>
  <!-- <div class="bottom-fields"> -->
    <div class="inspiration-field">
      <label>INSPIRATION</label>
      <input type="text" [(ngModel)]="inspiration" placeholder="e.g. 1d6">
    </div>
    <div class="exhaustion-field">
      <label>EXHAUSTION</label>
      <input type="number" [(ngModel)]="exhaustion" placeholder="0">
    </div>
  <!-- </div> -->
</div>
