<main>
    <div class="top-row">
        <div class="character-name">
            <label>CHARACTER NAME</label>
            <input type="text" placeholder="Name" [(ngModel)]="character.characterName">
        </div>
        <div class="level-section">
            <div class="level-inputs">
                <div class="level-field">
                    <span class="level-label">LEVEL</span>
                    <input type="number" [(ngModel)]="character.characterLevel" min="1" max="20">
                </div>
                <div class="class-field">
                    <span class="class-label">CLASS</span>
                    <input type="text" placeholder="Class" [(ngModel)]="character.characterClass">
                </div>
                <div class="race-field">
                    <span class="race-label">RACE</span>
                    <input type="text" placeholder="Race" [(ngModel)]="character.characterRace">
                </div>
            </div>
        </div>
        <div class="proficiency-section">
            <span class="proficiency-label">PROFICIENCY</span>
            <span class="proficiency-value">+{{proficiency}}</span>
        </div>
    </div>
    <div class="details-row">
        <label class="field">
            <span>BACKGROUND</span>
            <input type="text" [(ngModel)]="character.background">
        </label>
        <label class="field">
            <span>PLAYER NAME</span>
            <input type="text" [(ngModel)]="character.playerName">
        </label>
        <label class="field">
            <button (click)="saveCharacter()">SAVE CHARACTER</button>
            <button type="button">
                <label for="fileInput" style="cursor: pointer;">IMPORT CHARACTER</label>
            </button>
             <input style="display: none;" id="fileInput" type="file" accept=".json" [(ngModel)]="file" (change)="onFileSelected($event)">
        </label>
        <div class="initiative-section">
            <span class="initiative-label">INITIATIVE</span>
            <div style="display: flex;">
                <span class="initiative-value">+{{initiative}}</span>
                <span class="initiative-alert">
                    <input type="checkbox" [(ngModel)]="isFeatAlert">
                </span>
            </div>
        </div>
    </div>
</main>