<div class="attacks-container">
    <div class="attacks-top-section">
        <label class="attacks-label">ATTACKS</label>
        <input type="text" class="attack-amount" placeholder="Attacks" value="1">
        <button class="add-attack-btn" (click)="addAttack()" [disabled]="attacks.length >= maxAttacks">
            Add attack
        </button>
        <span class="attack-count">{{ attacks.length }}/{{ maxAttacks }}</span>
    </div>

    <div class="attacks-table">
        <div class="attacks-header-row">
            <div class="col col-name">NAME</div>
            <div class="col col-range">RANGE</div>
            <div class="col col-attack">ATTACK</div>
            <div class="col col-damage">DAMAGE / TYPE</div>
        </div>

        <div class="attacks-rows">
            @for (attack of attacks; track $index; let even = $even) {
                
                <div class="attack-row" [class.even-row]="even">
                    <input type="text" class="col col-name" [(ngModel)]="attack.name" placeholder="Weapon name">
                    <input type="text" class="col col-range" [(ngModel)]="attack.range" placeholder="e.g. 5 ft">
                    <div class="col col-attack attack-modifier-cell">
                        <input type="text" [(ngModel)]="attack.damageDice" class="col col-attack"
                            placeholder="e.g. 1d8">
                        <span class="modifier">{{ getAttackModifier(attack) > 0 ? '+' : '' }}{{ getAttackModifier(attack) }}</span>
                        <input type="checkbox" class="dex-checkbox" [(ngModel)]="attack.useDex"
                            title="Use DEX modifier">
                        <input type="checkbox" class="prof-checkbox" [(ngModel)]="attack.proficient"
                            title="Proficient with this weapon">
                    </div>
                    <input type="text" class="col col-damage" [(ngModel)]="attack.damageType"
                        placeholder="e.g. Slashing">
                    
                </div>
                <div class="properties-row" [class.even-row]="even">
                    <input type="text" [(ngModel)]="attack.properties" placeholder="Properties: Finesse, Light, etc">
                </div>
                <button class="remove-attack-btn" (click)="removeAttack($index)">
                    Remove attack
                </button>
            }
        </div>
    </div>
</div>