@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=VT323&display=swap');
body{
    background-color: #1d1d1d;
}
*{
    color: #f2f2f2;
    font-family: "VT323";
}